@use "uswds-core" as *;

.site-c-apply {
  overflow: auto;
  min-height: 195em; /* mobile first - ~3120px @font-size=16*/
  width: fit-content;
  border: none;
  @include at-media(tablet) {
    min-height: 180em; /* breakpoint, ~2880px @font-size=16*/
  }
  @include at-media(desktop) {
    min-height: 160em; /* breakpoint, ~2560px @font-size=16*/
  }
}
