@use "uswds-core" as *;

.site-c-footer {
  background: color('primary-vivid');
  color: color('cyan-5');
  padding-top: units(5);
  padding-bottom: units(5);

  @include at-media(desktop) {
    padding-top: units(8);
  }

  a,
  a:visited {
    text-decoration: none;
    color: color('cyan-5');
  }

  a:hover {
    text-decoration: underline;
  }
}

.site-c-footer__logo {
  display: block;
  margin: 0 auto;
  width: 157px;
  @include at-media(desktop) {
    margin: 0;
  }
}

.site-c-footer__heading {
  color: color('cyan-5');
  font-size: size('body', 4);
  margin-bottom: units(2);
  text-transform: uppercase;
}

.site-c-footer__list {
  @include unstyled-list;

  a {
    display: inline-block;
    padding-top: units(1);
    padding-bottom: units(1);

    @include at-media(desktop) {
      padding-top: units(1);
      padding-bottom: units(1);
    }
  }
}

.site-c-footer__site-info {

  a {
    display: inline-block;
    padding-left: units(1);
    padding-right: units(1);

    &:first-of-type {
      padding-left: 0;
    }
  }
}

.site-c-footer__social-links {
  display: flex;
  gap: units(2);
}

.site-c-footer__social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
  }

  &:hover img {
    opacity: 0.8;
  }
}
